html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
}

:root {
  --primary: #008f8c; 
  --secondary: #015958; 
  --gradient: linear-gradient(180deg, #008f8c 0%, #015958 45.31%, #023535 100%); 
  --black: #000000; 
  --black75: rgba(0, 0,0, 0.75); 
  --black50: rgba(0, 0,0, 0.50); 
  --black25: rgba(0, 0,0, 0.25); 
  --black10: rgba(0, 0,0, 0.10); 
  --background: white;
  --error: #bb2c2c; 
  --h1: 400 3.8125rem/7.500000298023224rem Barlow; 
  --h2: 400 3.0625rem/7.500000298023224rem Barlow; 
  --h3: 400 2.4375rem/7.500000298023224rem Barlow; 
  --h4: 400 1.9375rem/7.500000298023224rem Barlow; 
  --h5: 400 1.5625rem/7.500000298023224rem Barlow; 
  --h6: 400 1.25rem/7.500000298023224rem Barlow; 
  --plaintext: 400 1rem/7.500000298023224rem Barlow; 
  --logo: 700 2.25rem/7.500000298023224rem Barlow; 
}